body,html{
    margin: 0 auto;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
    }

.top{
    width: 100%;
    height: 530px;
    background: url(./background01.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: slide 10s infinite;
    color: #ffffff;
    opacity: 0.5;
    }
   .slogan{
       margin: 40px 0px;
       height: 280px;
       background: linear-gradient(to left,#34444c   50%, rgb(251,132,4) 50%); 
      opacity: 0.5;
   }
.top h1{
    text-align: center;
    }
header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    opacity: 0.9;
    padding: 0px 60px;
    } 
header .logo{
    width: 230px;
    margin: 10px 10px;
   }
header ul{
    list-style-type: none;
    display: flex;
    float: right;
    margin: 18px 40px;
    }

ul li{
    padding: 2px 10px;
    font-size: 24px;
    cursor: pointer;
    }
ul li i{
    padding-bottom: 30px;
    color: #34444c;
    }
ul li i:hover{
    color: rgb(252, 132, 4);
    }
.tooltip{
    margin-top: 10px;
    }
.tooltip-inner {
    background-color: #fff !important;
    color: #34444c;
    opacity: 2;
    padding:10px 20px;
    border-radius: 1px;
    opacity: 0.9;    
    }
  
.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #ffffff;
    margin-top: 15px;
    }
    
nav{
    background-color: #ffffff;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    font-family: 'Balsamiq Sans', cursive !important;
    display: none;
    }
.bg-light {
        background-color: #ffffff!important;
    }
.navbar-light .navbar-toggler {
        border: none;
    }
.navbar-light .navbar-nav .nav-link {
            color: rgba(0,0,0,.5);
            font-size: 16px;
            float: none;
            letter-spacing: 2px;
        }    
    .navbar{
    }    

.sticky {
    top: 0;
    position: fixed;
    height: 80px;
    width: 100%;
    border-bottom: 0.1px solid #e1e1e1;
    font-size: 16px;
    
 
    }
.sticky + .content {
    padding-top: 120px;

  }
.team{
    width: 100%;
    text-align: center;
    margin-top: 70px;
    background-color: ivory;
    }
.team h1 {
    text-transform: uppercase;
    font-size: 28px;
    display: inline;
    color: #34444c;
    }
.team hr {
    width: 10%;
    color: rgb(252, 132, 4);
    border: 1px solid;
    margin-top: 0.3rem;
}   
.team .team-intro{
    color: #343434;
    letter-spacing: 2px;
}  
.team .team-list{
    margin-top: 60px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}   
.team .team-list .dev{
    width: 250px;
    height: 350px;
    border: 2px solid #eeeeee;
    margin: 0px 30px 20px 30px;
    padding: 10px;
    color: #34444c;
    background-color: #ffffff;
    cursor: pointer;

}
.team .team-list .dev:hover{
    animation: pulse 2s;
}
.team .team-list .dev img {
    margin-top: 1px;
    width: 180px;
    border:1px solid #eeeeee;
    border-radius:180px;
    padding: 5px 15px;
    opacity: 0.9;
}
.team .team-list .dev i{
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    color: #34444c;
}
.team .team-list .dev i:hover{
    color: rgb(252, 132, 4);
}
.team .team-list .dev h5{
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2;
}
.Portfolio{
    margin-top: 40px;
}
.Portfolio h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
.Portfolio hr{
    width: 8%;
    color: rgb(252, 132, 4);
    border: 1px solid;
    margin-top: 0rem;
}
.Portfolio .team-intro {
    color: #343434;
    letter-spacing: 2px;
   text-align: center;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(252, 132, 4);
}

.project-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.project-grid img {
    width: 300px;
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.project-grid img:hover{

}

/* .project-grid img {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.project-grid img:hover,
.project-grid img:focus,
.project-grid img:active {
    transform: scale(1.1);
} */

.hvr-underline-from-center:hover{
    border-color: rgb(252, 132, 4)!important;
    border-bottom: none;
}
.client{
    text-align: center;
    margin: 40px 0px;
    padding: 20px;
    background-color: #f1f1f1;
}
.client h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    display: inline;
    color: #34444c;
    }
 hr {
    width: 10%;
    color: rgb(252, 132, 4);
    border: 1px solid;
    margin-top: 0.3rem;
}   
.team-intro{
    color: #343434;
    letter-spacing: 2px;
}  

.client-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.client-list img {
    margin: 20px;
    width: 150px;
}

.contact{
    margin: 40px 0px;
    text-align: center;
}
.contact h1{
    text-transform: uppercase;
    font-size: 24px;
    
}
