
@media screen and (max-width: 600px) {
    body,html{
        margin: 0;
        padding: 0;
        }
    
    header{
        width: 100%;
        font-size: 16px;
        padding: 1px 10px;
    }
    header .logo{
        margin-top: 15px;
        width: 180px;
        font-size: 24px;
       }
    header ul{
        list-style-type: none;
        float: right;
        margin: 1px;
        }
    
    header ul li{
        padding: 20px 6px;
        font-size: 24px;
        cursor: pointer;
        }
  header ul li i{
        padding-bottom: 30px;
        color: #34444c;
        }
    header ul li i:hover{
        color: rgb(252, 132, 4);
        }
    .tooltip{
        display: none;
        }
    .mobile-hide{
    display: none;
}

    .top{
        color: #fff;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        text-transform: uppercase;
        font-size: 24px;
        padding-top: 10px;
        color: #ffffff;
        }
    hr {
        width: 10%;
        color: rgb(252, 132, 4);
        border: 3px solid;
        margin-top: 0.5rem;
    }   
    .team-intro{
        color: #ffffff;
        letter-spacing: 1px;
    }  
}

/* nav */
@media screen and (max-width: 600px) {
    .bg-light {
        background-color: #ffffff!important;
    }.navbar-light .navbar-toggler {
        border: none;
    }

    nav{
         background-color: #ffffff;
         border:none;
         box-shadow: none;
        }
        .sticky {
            top: 0;
            position: fixed;
            height: 80px;
            width: 100%;
            font-size: 16px;
           border: none;            
         
            }
            img {
                vertical-align: middle;
                border-style: none;
                width: 130px;
                margin-left: 3px;
            }
            .navbar-toggler-icon {
                display: inline-block;
                width: 1.0em;
                height: 1.5em;
                vertical-align: middle;
                content: "";
                background: no-repeat center center;
                background-size: 100% 100%;
            }
    }
/* team */
@media screen and (max-width: 600px) {
    .team{
        margin-top: 10px;
    }
    .team .team-list{
        margin-top: 60px;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
    }   
    .team .team-list .dev{
        width: 250px;
        height: 350px;
        border: 2px solid #eeeeee;
        border: none;
        margin: 0px 30px 20px 30px;
        padding: 10px;
        color: #34444c;
        background-color: #ffffff;
        cursor: pointer;

    }
    .team .team-list .dev img {
        margin-top: 1px;
        width: 180px;
        border:1px solid #eeeeee;
        border-radius:180px;
        padding: 5px 15px;
        opacity: 0.9;
    }
    .team .team-list .dev i{
        font-size: 24px;
        margin: 5px;
        cursor: pointer;
        color: #34444c;
    }
    .team .team-list .dev i:hover{
        color: rgb(252, 132, 4);
    }
    .team .team-list .dev h5{
        margin-top: 10px;
        text-transform: uppercase;
        letter-spacing: 2;
    }
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: 350px;
    }
    .about-text{
        padding: 20px;
        color: #f1f1f1;
        float: inline-start;
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    }
  
    .about-text p:first-letter {
      float: left;
      font-size: 45px;
      line-height: 1;
      font-weight: bold;
      margin-right: 9px;
      color: rgb(252, 132, 4);
  }
    .about-img{
        padding: 10px;
        background-color: #eeeeee;
        height: 200px;
        background-color: #fff;
  }
  .about-img img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-top: 30px;
  }
  .customer .customer-list p {
    color: #34444c;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 20px;
}
.customer .customer-list a{
   color: #34444c;
   text-align: center;
   letter-spacing: 2px;
   margin-top: 10px;
   font-size: 20px;
}

}  